.button {
    font: inherit;
    font-size: 20px;
    /* border: 1px solid #089ee4;
    background: #089ee4; */
    background-image: linear-gradient(to bottom right, #19d3b0
    , #10cfeb
    );
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border: none;
    border-radius:5px;
  }
  
  .button:hover,
  .button:active {
    transition: transform .2s; 
    background: #741188;
    border-color: #741188;
    color:azure;
    border-radius:10px;
  }
  
  .button:focus {
    outline: none;
  }