.make-appointment{
    background-image: url(../../../image/appoinment.jpg); 
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
}

.opacity{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(36, 41, 73, .7);
    /* opacity: .7; */
    top: 0;
}

.make-appointment img{
    height: 550px;
    transform: translateY(-130px);
    /* z-index: 5; */
}
/* 
.custom {
    z-index: 999;
} */